body {
  background-image: url('adia-working.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: grey
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 13%;
  left: 0;
}

/* The navigation menu links */
.sidenav a {
  padding: 5px 5px 5px 32px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
  border-radius: 5px;
  border: solid grey 1px;
  background-color: #111;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: grey;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#banner {
  text-align: center;
  border-radius: 5px;
  border: solid grey;
  color: white;
  padding: 10px;
}