
body{
  font-family: "Courier New", Courier, monospace;
  background-image: url('adia-working.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: darkgrey;
}
nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 10%;
  margin-left: 17%;
}
.button {
  color: white;
  font-weight: bold;
  font-size: 30px;
  border: white 2px;
  border-radius: 25px;
  background-color: black;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
}

nav a:hover {
  background-color: grey;
}

#banner {
  font-size: 34px;
  text-align: center;
  border-radius: 25px;
  border: solid grey 1px;
  color: white;
  padding: 10px;
  background-color: black;
}

#message {
  text-align: center;
  font-size: 25px;
  color: white;
  margin-top: 30%;
}